---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import { Icon } from 'astro-icon';
import PortfolioPreview from '../components/PortfolioPreview.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Mazechanic"
	description="Mazechanic"
>
	<div>
		<main>
			<div class="instructions">
				<Icon name="mazechaniclogo" width="100%"/>
				<p class="w">Создайте свою игру вместе с нами! Читайте наши статьи про важнейшие аспекты работы с игровым движком Godot.</p> 
				{
					projects.map((project) => (
						<PortfolioPreview project={project}/>
					))
				}
				
			</div>
			<p class="instructions">
				2023 MSHK GAMES
			</p>
		</main>
	</div>
</BaseLayout>


<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
	}
	.instructions {
		line-height: 1.6;
		margin: 0.5rem 0;
		border: 3px solid #cfe0fc !important;
		background-image: linear-gradient(-30deg,  #cfe0fc, #ffffff) !important;
		padding: 2rem;
		border-radius: 0.4rem;
		text-align: center;
	}
	.instructions code {
		font-size: 1em;
		font-weight: bold;
		color: #091d35 !important;
		border-radius: 4px;
		padding: 0.8em 0.8em;
	}
	.instructions strong {
		color: #091d35 !important;
	}
	p {
		font-weight: 500 !important;
		font-size: 1.2rem !important;
		color: #091d35 !important;
	}
	.w {
		margin: 1em;
	}
</style>
