---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style is:global>
			:root {
				--accent: 65, 162, 119;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #41a277 30%, white 60%);
				--accentb: 11, 28, 53;
				--accentb-gradient: linear-gradient(45deg, rgb(var(--accent)), #0b1c35 30%, white 60%);

			}
			html {
				font-family: system-ui, sans-serif;
				background-color: #F6F6F6;
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
					Bitstream Vera Sans Mono, Courier New, monospace;
			}
		</style>

	</body>
</html>
